.drag-dockable .dock-side .spacer,
.drag-dockable.floating .spacer {
    -fx-padding : 6px; // This causes empty dock-sides to appear.
}
.drag-dockable .dock-side,
.drag-dockable.floating .spacer {
    -fx-background-color : derive(-fx-color, -15%)
}

/* Highlight the spacer when dragging DockableButtons over it */
.drag-dockable .dock-side .spacer.drag-over,
.drag-dockable.floating .spacer.drag-over {
    -fx-background-color : -fx-accent;
}

/* Highlight where the Dockable will be inserted, when dragging to a DockableButton */
.drag-dockable .dock-side-button.drag-over {
    -fx-border-color: -fx-accent;
}
.drag-dockable .dock-side-left   .dock-side-half-main  .dock-side-button.drag-over,
.drag-dockable .dock-side-right  .dock-side-half-main  .dock-side-button.drag-over,
.drag-dockable .dock-side-top    .dock-side-half-other .dock-side-button.drag-over,
.drag-dockable .dock-side-bottom .dock-side-half-other .dock-side-button.drag-over {
    -fx-border-width: 0 6 0 0;
}
.drag-dockable .dock-side-left   .dock-side-half-other .dock-side-button.drag-over,
.drag-dockable .dock-side-right  .dock-side-half-other .dock-side-button.drag-over,
.drag-dockable .dock-side-top    .dock-side-half-main  .dock-side-button.drag-over,
.drag-dockable .dock-side-bottom .dock-side-half-main  .dock-side-button.drag-over {
    -fx-border-width: 0 0 0 6;
}
