@import "harbourfx.css";

.dock-side {
    -fx-background-color: -fx-color;
}

.dock-side-button {
    -fx-background-color: -fx-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 1 8 1 8;
}

.dock-side-button:focused {
    -fx-background-color: -fx-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.dock-side-button:selected {
    -fx-background-color: derive(-fx-color, -11%);
    -fx-background-insets: 0;
}
